:root {
    --theme-color: #525fe8;
    --radius-s: 10px;
    --radius-m: 30px;
    --radius-l: 50px;
}
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    background-color: #e3e3e3;
    flex-direction: column;
}

.topbar {
    margin: 10px 10px 0 10px; /* top, right, bottom, left */
    background-color: var(--theme-color);
    height: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: var(--radius-l);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
}
.news {
    background-color: white;
    height: 60px;
    width: 125%;
    flex: 1;
    border-radius: var(--radius-m);
}
.iconrow {
    background-color: rgb(14, 190, 213);
    height: 60px;
    flex: 0 0 auto;
    display: flex;
    gap: 10px;
    border-radius: var(--radius-m);
}
.shop {
    background-color: transparent;;
    height: 60px;
    width: 60px;
    border-radius: var(--radius-l);
}
.shopsvg {
    height: 100%;
    width: 100%;
}
.home {
    background-color: transparent;
    height: 60px;
    width: 60px;
    border-radius: var(--radius-l);
}
.homesvg {
    height: 100%;
    width: 100%;
}
.settings {
    background-color: transparent;;
    height: 60px;
    width: 60px;
    border-radius: var(--radius-l);
}
.settingssvg {
    height: 100%;
    width: 100%;
}
.main {
    margin: 10px 10px 0 10px;
    background-color: transparent;
    height: 400px;
    flex: 1;
    display: flex;
    gap: 10px;
    align-items: stretch;
}
.leftside {
    background-color: var(--theme-color);
    width: 50px;
    flex: 0 0 50px;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: var(--radius-l);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
}
.number {
    background-color: var(--theme-color);
    width: 100%;
    display: flex;
    border-radius: var(--radius-l);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
}
.globalnum {
    background-color: transparent;
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    border-radius: var(--radius-l);
}
.numberdisplay {
    height: 100%;
    width: 100%;
    color: white;
    font-family: 'Fredoka', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    pointer-events: none;
    user-select: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add {
    background-color: transparent;
    height: 100%;
    width: 50%;
    display: flex;
    cursor: zoom-in;
}
.sub {
    background-color: transparent;
    height: 100%;
    width: 50%;
    display: flex;
    cursor: zoom-out;
}
.rightside {
    background-color: var(--theme-color);
    width: 50px;
    flex: 0 0 50px;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: var(--radius-l);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
}
.lowbar {
    margin: 10px;
    background-color: var(--theme-color);
    align-items: center;
    height: 30px;
    flex-shrink: 0;
    border-radius: var(--radius-l);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
    justify-content: space-evenly;
}
.totalclicks {
    margin: 5px;
    height: 30px;
    width: 20%;
    color: white;
    font-family: 'Fredoka', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    pointer-events: none;
    user-select: none;
    justify-content: center;
    align-items: center;
}
.pendingchange {
    margin: 5px;
    height: 30px;
    width: 20%;
    color: white;
    font-family: 'Fredoka', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    pointer-events: none;
    user-select: none;
    justify-content: center;
    align-items: center;
}