:root {
    --theme-color: #525fe8;
    --radius-s: 4px;
    --radius-m: 10px;
    --radius-l: 20px;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    background-color: #e3e3e3;
    flex-direction: column;
}
.topbar {
    margin: 10px 10px 0 10px; /* top, right, bottom, left */
    background-color: var(--theme-color);
    height: 60px;
    /* [x-offset] [y-offset] [blur] [color] */
    box-shadow: 0 0 10px #434343
}
.news {
    margin: 10px 0 10px 10px;
    background-color: var(--theme-color);
    height: 40px;
    width: 75%;
    box-shadow: 3px 3px 5px #434343, -3px -3px 5px #d6d4d4;
}